/* div.scrollmenu {
    z-index: 100;
    background-color: #333;
    overflow: hidden;
    top: 0;
    position: fixed;
    right: 0;
    width: 100%;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    position: center;
    padding: 0.9%;
    width: 33.5%;
    text-decoration: none;
    font-size: 20px;  
}

div.scrollmenu a:hover {
    background-color: #777;
} */

.download-wrapper {
  /* cursor: pointer; */
  height: 15%;
  width: 8%;
  top: 2% !important;
  position: center;
}

.edit {
  cursor: pointer;
  height: 40px;
  width: 50px;
}
.uploadForm {
  cursor: pointer;
  height: 70px;
  width: 100px;
  right: 2000px;
}
.download:hover{
      opacity: .8;
      color: #888787;
}
    
   .material-icons {
      color: #000000;
      width: 50px;
      margin: auto;
      display: block;
    }
  
    
    .download {
      text-align: center;
      color: #000000;
      margin: auto;
      font-size: 90%;
      font-family: 'Abel', sans-serif;
    }

    .download2 {
      text-align: center;
      color: #000000;
      margin: auto;
      font-size: 90%;
      font-family: 'Abel', sans-serif;
    }
/* body {
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial;
    padding-top: 20px;
} */

.container {
    width: 80%;
    max-width: 100%;

    overflow: auto;
    position: fixed;
}

#upload {
    width: 80%;
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
    overflow: auto;
}

#formcontainer{
  width: 80%;
  padding: 0px 25px 0px 25px;
  background: #fff;
  box-shadow: 
      0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
      0px 4px 20px rgba( 0,0,0,0.33 );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: center;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
.btn-primary{
  margin-left: auto !important;
  margin-right: auto !important;
}

#upload .header {
    margin-bottom: 20px;
}

#upload .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#upload .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
    overflow: auto;
}

#upload .sep {
    background: #e8e8e8;
    height: 1px;
    width: 100%;
    overflow: auto;
}

#upload .inputs {
    margin-top: 25px;
}

#upload .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

#upload .inputs input[type=number] {
    background: #f5f5f5;
    font-size: 1.5rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 10px 10px;
    width: 100px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}


#upload .inputs #submit {
    width: 30%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

#upload .inputs #submit:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
}

.heads {
    text-decoration: underline;
    padding-left: 10%;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
}

.links {
    text-align: left;
    color: #0846f1;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: underline;
}

.confGreen {
    background-color: lightgreen;
}

.confBlue {
    background-color: lightskyblue;
}

.confOrange {
    background-color: rgb(209, 157, 137);
}

.confRed {
    background-color: rgb(233, 75, 75);
}

#myTypes {
    width: 40%;
    column-count: 4;
    padding-left: 11%;
}

.type {
    height: 5%;
    font-size: 2.0rem;
    list-style-type: square;
    list-style-position: outside;
}

/*======================Table============================================


[ Table ]*/
/* 
.limiter {
  width: 1366px;
  height: 50%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  height: 30%;
  min-height: 100vh;
  background: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
  height: 30%;
} */

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
/* .table100 {
  background-color: #fff;
  height: 50%;
} */
/* 
table {
  width: 100%;
  height: 50%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 33%;
  padding-left: 40px;
}

.column2 {
  width: 13%;
}

.column3 {
  width: 22%;
}

.column4 {
  width: 19%;
}

.column5 {
  width: 13%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
} */

/*==================================================================
[ Fix header ]*/
/* .table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
} */


/*==================================================================
[ Ver1 ]*/

/* .table100.ver1 th {
  font-family: Lato-Bold;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;

  background-color: #6c7ae0;
}

.table100.ver1 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
} */


.selected {
  background-color: #D8BFD8 !important;
  border-bottom: 1pt solid black;
  border-color: black;
} 

/* .table100.ver1 .table100-body tr:nth-child(even) {
  background-color: #f8f6ff; 
} */

/*---------------------------------------------*/

/* .table100.ver1 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
} */
/* 
.table100.ver1 .ps__rail-y {
  right: 5px;
}

.table100.ver1 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
} */

/* The Modal (background) */
.modal { 
  display: none; /* Hidden by default */
  position: absolute !important; /* Stay in place */
  z-index: 1 !important; /* Sit on top */
  padding-top: 20px !important; /* Location of the box */
  left: 0;
  top: 0;
  width: 100% !important; /* Full width */
  height: 100% !important; /* Full height */
  overflow: scroll !important; /* Enable scroll if needed */
  overflow-y: auto !important;
  max-height: 100% !important;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe !important;
  margin: auto !important;
  padding: 20px !important;
  border: 1px solid #888;
  width: 89% !important;
  overflow: auto !important;
}

/* The Close Button */
.close {
  color: #aaaaaa !important;
  float: right !important;
  right: 0 !important;
  width: 20px;
  font-size: 28px !important;
  font-weight: bold !important;
}

.close:hover,
.close:focus {
  color: #000 !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

/* loader */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


table tr th{
  background:#337ab7;
  color:white;
  text-align:left;
  vertical-align:center;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .1em;
}

  /* .table-responsive {
    height: 70%;
} */
.table table-striped table-bordered table-sm{
  margin-bottom: 0;
  height: 100%;
}

